body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(4, 128, 128)
}

.textArea {
  border-radius: 5px;
  border: none;
}

#homee {
  color: rgb(161, 27, 27);
 margin-top: 50px;
 /* border: 2px solid red; */
  
}

#bah {
  /* border: 1px solid black; */
}

#centerbody {
  /* margin-top: 10px; */
  /* border: 1px solid black; */
  height: auto;
  /* width: 80%; */
  background-color: rgb(4, 128, 128);
  /* background-color: white; */
  padding: 20px 20px;
}

#right {
  margin-top: 15px;
}

#rowquestion {
  /* border: 1px solid white; */
  width: 50%;
}

#left {
  margin-top: 15px;
  /* border: 1px solid black; */
}



#leftright {
  padding: 20px 20px;
}

#yaki {
  /* border: 1px solid rgb(216, 18, 18); */
  background-color: rgb(245, 240, 240);
  padding: 20px;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  margin-top: 30px;
}

#oii {
  align-content: left;
  /* border: 1px solid black; */
  padding: 5px 5px;
  height: auto;
}

#oit {
  /* border: 5px solid black; */
  border-radius: 5px;
  margin-top: 47px;
  height: 150px;
  /* background-color: rgb(222, 231, 231); */
  background-image: url('https://cdn.shopify.com/s/files/1/0285/1316/products/ALT-0034-WALP-WP-1_c045ff40-676f-4be8-b466-187069233950_512x.jpg?v=1485470824')
}

.containers {
  /* border: 5px solid black; */
  width: 50%;
}

#itu {
  max-width: 100%;
  max-height: 100%;
  border-radius: 125px;
  /* border: 2px solid black; */
}

#rightprofile {
  /* border: 1px solid black; */
}

#actionprofile {
  color: rgb(245, 248, 248);
}

.content {
  /* border: 1px solid black; */
  width: 110%;
  margin-left: -30px;
}

#photo {
  /* border: 1px solid black; */
  height: 50px;
}

#comm {
  /* border: 1px solid black; */
  color: white;
}

#likebutton {
  /* border: 1px solid black; */
  margin-top: 10px;
}

#like {
  /* border: 1px solid black; */
  /* color: rgb(240, 94, 94); */
  justify-content: right;
  display: flex;
}

#usernametwitter {
  color: rgb(125, 210, 231);
}

#nahi {
  /* border: 1px solid rgb(126, 218, 7); */
  height: 50px;
}

#nahii {
  /* border: 1px solid rgb(126, 218, 7); */
  height: 50px;
  margin-left: 200px;
}

#submittt {
  margin-top: 10px;
}

.waves-effect {
  height: 30px;
}

a {
  color: rgb(238, 230, 230);
  font-size: 18px;
}

a:visited {
  color: rgb(224, 54, 54);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

#nama {
  color: whitesmoke;
}

#right {
  margin-top: 15px;
}

#left {
  margin-top: 15px;
}

#boxleft {
  /* border: 1px solid black; */
  background-color: rgb(4, 128, 128);
  margin-top: 34px;
}

#leftright {
  padding: 20px 20px;
}

#oii {
  align-content: left;
  /* border: 1px solid black; */
  padding: 5px 5px;
  height: auto;
}



#itu {
  max-width: 100%;
  max-height: 100%;
  border-radius: 125px;
  /* border: 2px solid black; */
}

#rightprofile {
  border: 1px solid black;
}

#actionprofile {
  color: rgb(245, 248, 248);
}

.content {
  /* border: 1px solid black; */
  width: 110%;
  margin-left: -30px;
}

#photo {
  /* border: 1px solid black; */
  height: 50px;
}

#comm {
  /* border: 1px solid black; */
  color: white;
}

#likebutton {
  /* border: 1px solid black; */
  margin-top: 10px;
}

#totallike {
  /* border: 1px solid black; */
  color: rgb(240, 94, 94);
}

#usernametwitter {
  color: rgb(125, 210, 231);
}

#judulnya {
  width: 100%;
  height: 60px;
  /* border: 1px solid rgb(230, 143, 12); */
  /* padding: 3px; */
  background-color: #ccc;
}

#nah {
  /* border: 1px solid black; */
  /* padding: 5px; */
}

.waves-effect {
  height: 30px;
}

a {
  color: rgb(247, 244, 244);
  font-size: 18px;
}

a:visited {
  color: rgb(224, 54, 54);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

#nama {
  color: whitesmoke;
}

.contentt {
  width: 100%;
  height: 70px;
  background-color: black;
}

#addQ {
  margin: 2px 2px 2px 2px;
}

#logo {
  border: 1px solid black;
}

.nav {
  /* border: 1px solid rgb(241, 44, 18); */
  margin-top: -60px;
  width: 100%;
  background-color: rgb(44, 41, 41);
  height: 50px;
}

#logout {
  margin-right: 15px;
}

#yadah {
  margin-top: -100px;
}

#gambar {
  /* border: 1px solid black; */
}

#rightt {
  height: 500px;
  border: 1px solid blanchedalmond;
}

.brand-logo {
  /* border: 1px solid black; */
  margin-left: -600px;
}

/* =============================================== */

/* Full-width input fields */

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

button {
  background-color: #e64a4a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.card {
  border-radius: 5px;
  margin-left: 30px;
}

#titlequestion {
  margin-left: 50px;
  /* border: 2px solid white; */
}

#bottom-card {
  border-radius: 5px;
}

/* Extra styles for the cancel button */

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

/* img.avatar {
  width: 40%;
  border-radius: 50%;
} */

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0); Fallback color */
  background-color: rgba(230, 224, 224, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

.details {
  width: 100%
}

/* Modal Content/Box */

.modal-content {
  border-radius: 20px;
  background-color: #e1e9eb;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  /* border: 1px solid #888; */
  width: 40%;
  /* Could be more or less, depending on screen size */
  /* height: 100%; */
}

.modal-contentt {
  border-radius: 20px;
  background-color: #e1e9eb;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  /* border: 1px solid #888; */
  width: 100%;
  /* Could be more or less, depending on screen size */
  /* height: 100%; */
}

/* The Close Button (x) */

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

#yatii {
  /* border: 1px solid rgb(233, 228, 228); */
  padding: 5px;
  width: 100%;
}

#yatiii {
  border: 1px solid rgb(233, 228, 228);
  /* margin-left: -60px; */
  /* height: 48px; */
}

#oyiya {
  color: white;
}

.fb {
  background-color: #3B5998;
  color: white;
}

/* #oyyy{
  margin-left: 10px;
} */

.ajs-message {
  color: #f4f7f8;
}